body{
    background-color:#5CDB95;
}
h1 {
    color:antiquewhite;
    background-color: #023047;
    background-image: url(bgimage.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 35% 100%;
    font-family: 'Courier New', Courier, monospace;
}
#w1{
    position: relative;
    right: 400px;
    top: 20px;
    font-family:  'Orbit', sans-serif;
    font-size: 56px;
    text-align: center;

}
input{
    position: relative;
    left: 35px;
    top: 20px;
     font-size: x-large;
      height: 1cm; 
      width: 15cm;
     border: 5px solid #023047;
     border-radius: 25px; 
     padding: 5px;
}
button.go{
    position: relative;
    left: 35px;
    top: 20px;
}
h2{
    color: darkblue;
}
h3{
    font-style: italic;
}
div {
    background-color:darkgrey;
    color:#023047;
    font-family:monospace;
    font-size:27px;
}

a{
    color: white;
}
#page{
        position: absolute;
        left: 200px;
        bottom: 200px;
        z-index: 2;
      
        width:400px; 
        height:400px; 
        background-color:red;
      }
#desc{
    box-sizing: content-box;
    color: #023047;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}